.button {
    display: inline-block;
    background-color: #e74c3c;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0px;
    text-decoration: none;
    transition: transform 100ms linear;
    color: #FFF;
    font-size: 20px;
}

.button:hover {
    transform: scale(1.12);
    background-color: rgb(22, 209, 53);
}