.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7c5e77;
    width: 245px;
    height: 261px;
    
    box-shadow: 10px 10px 0px #fff;
}

.card-project.-blue {
    background-color: #4C5884 ;
}