.main-banner {
    box-sizing: border-box;
    background-image: url(../../assets/img/tiagobanner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top : 20px;
    padding-left: 20px;
}

.main-banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 740px;
  
}

.main-banner .main-box {
    margin-bottom: 60px;
}

.main-banner .navigation {
    display: flex;
    width: 400px;
    justify-content: space-around;
    
    
   
}