.section {
    font-family: 'Press Start 2p' , sans-serif;  
   font-size: 10px;
    color:#fff ;
    box-sizing: border-box;
    background-color: #e74c3c;
    border-bottom: 10px solid  fuchsia;
    padding-top : 50px;
    padding-bottom: 100px;

}
.boxskills {
    justify-content: center;
    align-items: center;
}

.section .main-title {
    margin-bottom: 70px;
}
 
.section.-bgBlack {
 background-color: black;
 border-bottom: 10px solid  #e74c3c;
 
}